# Python
*.py[cod]
.cache
/.Python

#PyENV
/.python-version

# Packages / zc.buildout
*.egg
*.egg-info
/local.cfg
/.eggs/
/.installed.cfg
/.mr.developer.cfg
/_build/
/bin/
/_build/
/develop-eggs/
/dist/
/eggs/
/etc/
/include/
/lib/
/local/
/parts/
/sdist/
/share/
/src-mrd/
/var/

# Installer logs
pip-log.txt
pip-selfcheck.json
.plone.versioncheck.cache
.plone.versioncheck.tracked.json

# Unit test / coverage reports
/.coverage*
/coverage.xml
/.tox
.pytest_cache

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# local config
local.cfg
secret.cfg

# Codeintel
.codeintel

# Editors specific
/.idea/
/.Python
/.ropeproject/
/.project
/.pydevproject

# Import Data
/*.csv

# JavaScript specific
node_modules/

# MAC specifics
.DS_Store
