*.mo
*.py[cod]
.coverage*
pip-selfcheck.json
pyvenv.cfg
/.python-version
/*.egg-info
/.eggs/
/.Python
/.cache
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.tox
/bin
/build
/develop-eggs
/dist
/reports
/downloads
/eggs
/fake-eggs
/htmlcov
/report-*.html
/include
/lib
/share
/local.cfg
/parts
/src/*.egg-info
/var
coverage.xml
docs/doctrees
docs/html
