language: python
sudo: false
python:
    - 2.7
    - 3.4
    - 3.5
    - 3.6
    - pypy-5.4
env:
    - ENVIRON=py
    - ENVIRON=py27-rp3,py27-datetime,py36-datetime
    - ENVIRON=isort,flake8,docs
matrix:
    exclude:
        - env: ENVIRON=isort,flake8,docs
        - env: ENVIRON=py27-rp3,py27-datetime,py36-datetime
    include:
        - python: "3.6"
          env: ENVIRON=py36-datetime,isort,flake8,docs
        - python: "2.7"
          env: ENVIRON=py27-rp3,py27-datetime
install:
    - pip install tox coveralls coverage
script:
    - tox -e $ENVIRON
after_success:
    - coverage combine
    - coveralls
notifications:
    email: false
