# Constraints for Python Packages
# -----------------------------------------------
# Pin Versions / Version Ranges if necessary.
isort >= 4.3.2
# Needed for Appveyor as long as PY2 is supported:
pytest < 5
pytest-html < 2
