include *.py
include *.rst
include *.txt
include buildout.cfg
include tox.ini

include .editorconfig
exclude .editorconfig

include *.yml
exclude *.yml

include .gitignore
exclude .gitignore

exclude MANIFEST.in

recursive-include docs *.ast
recursive-include docs *.bat
recursive-include docs *.jpg
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include src *.py
recursive-include tests *.py
